# JetBrains IDEs
.idea

# Python environment
venv
__pycache__

# Datasets
data

# Preprocessing mini-framework - https://github.com/RetinaSegmentDP22-23/RetinaSegmentDP
RetinaSegmentDP

# Model checkpoints
checkpoints
*.pth.tar

# Logging
logs
wandb

# Kaggle
kaggle*.ipynb
