# JetBrains IDEs
.idea

# Python environment
venv/
__pycache__

# Datasets
data/
ImagesForSegmentation/
RoiResults/
CascadeResults/
DualResults/
results/

# Preprocessing mini-framework from another student - https://github.com/RetinaSegmentDP22-23/RetinaSegmentDP
RetinaSegmentDP/

# Model checkpoints
checkpoints/
*.pth.tar
output/

# Trained models
models/
*.zip
*.pth
*.h5
*.onnx

# Testing & Bug fixing
tests/

# Logging
logs/
wandb

# Kaggle
kaggle*.ipynb
join-scripts.py
count_lines.py
