# JetBrains IDEs
.idea

# Python environment
venv/
__pycache__

# Datasets
data/

# Preprocessing mini-framework from another student - https://github.com/RetinaSegmentDP22-23/RetinaSegmentDP
RetinaSegmentDP/

# Model checkpoints
checkpoints/
*.pth.tar

# Trained models
models/

# Testing & Bug fixing
tests/

# Logging
logs/
wandb

# Kaggle
kaggle*.ipynb
